$web-font-path: "https://fonts.googleapis.com/css2?family=News+Cycle&display=swap" !default
@import url($web-font-path)

@import "~bootstrap/scss/bootstrap"

body
  margin: 0

main
  min-height: 80vh
  font-family: 'News Cycle', sans-serif !important

h3
  margin: 1rem

.rating
  span
    margin: 0.1rem

h1
  font-size: 1.4rem
  padding: 0.1rem
  font-weight: bold

h2
  color: grey
  text-transform: uppercase
  letter-spacing: 2px

h4
  color: grey

td, th
  text-align: center

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active
  display: flex

.carousel-caption
  position: absolute
  top: 0

.carousel-caption h2
  color: #fff
  font-size: 30px

.carousel img
  height: 300px
  padding: 30px
  margin: 40px
  border-radius: 50%
  margin-left: auto
  margin-right: auto

.carousel
  & a
    margin: 0 auto

@media (max-width: 900px)
  .carousel-caption h2
    font-size: 2.5vw
