$web-font-path: "https://fonts.googleapis.com/css2?family=News+Cycle&display=swap" !default
@import url($web-font-path)

@import "~bootstrap/scss/bootstrap"

body
  margin : 0

main
  min-height: 80vh
  font-family: 'News Cycle', sans-serif
