$web-font-path: "https://fonts.googleapis.com/css2?family=News+Cycle&display=swap" !default
@import url($web-font-path)

@import "~bootstrap/scss/bootstrap"

body
  margin: 0

main
  min-height: 80vh
  font-family: 'News Cycle', sans-serif !important

h3
  margin: 1rem

.rating
  span
    margin: 0.1rem

h1
  font-size: 1.4rem
  padding: 0.1rem
  font-weight: bold

h2
  color: grey
  text-transform: uppercase
  letter-spacing: 2px

h4
  color: grey

td, th
  text-align: center
